/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}

main {
  width: 1000px;
  max-height: 520px;
  position: absolute;
  top: 230px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 20px;
  background: rgba(236, 214, 134, 0.8);
  overflow: auto;

  #list-section {
    width: 750px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #fff;
    color: #716032;

    p {
      display: inline-block;
      width: 50px;
      text-align: center;
    }
  }

  #list-nothing {
    width: 1000px;
    height: 50px;
    padding: 0 50px;
    font-size: 15px;
    color: #716032;
  }
}
